
        <section id="viewRegister">
            <h2>Create your account:</h2>
            <form method="post" id="formRegister">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Email" value="">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your Username" value="">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" value="">
                <label for="rePassword">Repeat Password:</label>
                <input type="password" id="rePassword" name="rePassword" placeholder="Repeat Password" value="">
                <input type="submit" class="register" value="Register">
                {{!-- <button type="submit" class="register">Register</button> --}}

            </form>
        </section>