<a href="/booking/{{_id}}/details" class="added-hotel">
        <img src="{{imgUrl}}" alt="imgUrl" class="picture-added-hotel">
        <h3>{{hotel}}</h3>
        <span>Free rooms: {{freeRooms}}</span>
</a>