<section id="viewCatalog" class="background-img">
    {{#if hotelOffer}}
    <div class="added-hotels">
        {{#each hotelOffer}}
        {{>hotelTemplate}}
        {{/each}}
    </div>

    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/if}}
</section>